*[class*="hover-"] {
    transition: background-color 0.2s;
}

.red, .hover-red:hover { color: #FFF !important; background-color: #F44336 !important}
.pink, .hover-pink:hover { color: #FFF !important; background-color: #E91E63 !important}
.fuschia, .hover-fuschia:hover { color: #FFF !important; background-color: #880E4F !important}
.purple, .hover-purple:hover { color: #FFF !important; background-color: #9C27B0 !important}
.dark-purple, .hover-dark-purple:hover { color: #FFF !important; background-color: #673AB7 !important}
.blue, .hover-blue:hover { color: #FFF !important; background-color: #3F51B5 !important}
.light-blue, .hover-light-blue:hover { color: #FFF !important; background-color: #2196F3 !important}
.cyan, .hover-cyan:hover { color: #000 !important; background-color: #00BCD4 !important}
.teal, .hover-teal:hover { color: #FFF !important; background-color: #009688 !important}
.green, .hover-green:hover { color: #000 !important; background-color: #4CAF50 !important}
.dark-green, .hover-dark-green:hover { color: #FFF !important; background-color: #1B5E20 !important}
.light-green, .hover-light-green:hover { color: #000 !important; background-color: #8BC34A !important}
.yellow, .hover-yellow:hover { color: #000 !important; background-color: #FFEB3B !important}
.amber, .hover-amber:hover { color: #000 !important; background-color: #FFC107 !important}
.light-orange, .hover-light-orange:hover { color: #000 !important; background-color: #FF9800 !important}
.orange, .hover-orange:hover { color: #FFF !important; background-color: #FF5722 !important}
.brown, .hover-brown:hover { color: #FFF !important; background-color: #795548 !important}
.gray, .hover-gray:hover { color: #000 !important; background-color: #9E9E9E !important}
.dark-gray, .hover-dark-gray:hover { color: #FFF !important; background-color: #424242 !important}
.light-gray, .hover-light-gray:hover { color: #000 !important; background-color: #EEEEEE !important}
.charcoal, .hover-charcoal:hover { color: #FFF !important; background-color: #212121 !important}
.blue-gray, .hover-blue-gray:hover { color: #FFF !important; background-color: #607D8B !important}
.dark-blue-gray, .hover-dark-blue-gray:hover { color: #FFF !important; background-color: #263238 !important}
.black, .hover-black:hover { color: #FFF !important; background-color: #000000 !important}
.white, .hover-white:hover { color: #000 !important; background-color: #FFFFFF !important}

.red-text, .hover-red-text:hover { color: #F44336 !important}
.pink-text, .hover-pink-text:hover { color: #E91E63 !important}
.fuschia-text, .hover-fuschia-text:hover { color: #880E4F !important}
.purple-text, .hover-purple-text:hover { color: #9C27B0 !important}
.dark-purple-text, .hover-dark-purple-text:hover { color: #673AB7 !important}
.blue-text, .hover-blue-text:hover { color: #3F51B5 !important}
.light-blue-text, .hover-light-blue-text:hover { color: #2196F3 !important}
.cyan-text, .hover-cyan-text:hover { color: #00BCD4 !important}
.teal-text, .hover-teal-text:hover { color: #009688 !important}
.green-text, .hover-green-text:hover { color: #4CAF50 !important}
.dark-green-text, .hover-dark-green-text:hover { color: #1B5E20 !important}
.light-green-text, .hover-light-green-text:hover { color: #8BC34A !important}
.yellow-text, .hover-yellow-text:hover { color: #FFEB3B !important}
.amber-text, .hover-amber-text:hover { color: #FFC107 !important}
.light-orange-text, .hover-light-orange-text:hover { color: #FF9800 !important}
.orange-text, .hover-orange-text:hover { color: #FF5722 !important}
.brown-text, .hover-brown-text:hover { color: #795548 !important}
.gray-text, .hover-gray-text:hover { color: #9E9E9E !important}
.dark-gray-text, .hover-dark-gray-text:hover { color: #424242 !important}
.light-gray-text, .hover-light-gray-text:hover { color: #EEEEEE !important}
.charcoal-text, .hover-charcoal-text:hover { color: #212121 !important}
.blue-gray-text, .hover-blue-gray-text:hover { color: #607D8B !important}
.dark-blue-gray-text, .hover-dark-blue-gray-text:hover { color: #263238 !important}
.black-text, .hover-black-text:hover { color: #000000 !important}
.white-text, .hover-white-text:hover { color: #FFFFFF !important}
